@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}

body {
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 4px solid black;
  font-size: 25px;
}

footer {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 4px solid black;
  font-size: 25px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

h1 {
  display: none;
  font-weight: 600;
}

h3 {
  align-self: center;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

#allBooks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-store {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

button {
  padding: 4px;
  align-self: flex-end;
  border: 4px solid #111;
  background-color: #fff;
  box-shadow: 4px 3px 1px 0 rgb(23, 22, 22);
  font-size: 15px;
  font-weight: 700;
}

button:hover {
  box-shadow: 4px 3px 1px 0 red;
}

#addBook {
  width: 30%;
}

#addBook:hover {
  box-shadow: 4px 3px 1px 0 rgb(53, 222, 37);
}

.addBook {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 30%;
}

input {
  border: 4px solid black;
  padding: 5px;
}

table {
  display: none;
  border: 2px solid black;
  margin-top: 20px;
  width: 60%;
  position: relative;
}

tbody tr:nth-child(odd) {
  background-color: red;
}
